<ul>
    <li><a routerLink="test">test</a></li>
    <li><a routerLink="directory">directory</a></li>
</ul>
<div *ngIf="show">
    <div>
        <!-- regular prop=value -->
        <label for="name">regular</label>
        <input type="text" value="name">
    </div>
    <div>
            <!-- property binding -->
        <label for="name">binding</label>
        <input type="text" [value]="name">
    </div>
</div>

<!-- event binding -->
<button (click)="handleClick($event)">show/hide</button>

<!-- passing data to child -->
<app-home [text]="'text from parent'" (customEvent)="handleCustomEvent($event)"></app-home>

<!-- output retreived data from child -->
<br>
<b>child data: {{childData}}</b>

<h1>loaded component</h1>
<router-outlet></router-outlet>