<!-- MatButton -->
<div>
    <button mat-fab extended>
        <mat-icon>home</mat-icon>
        home
    </button>    
</div>

<div>
    <mat-button-toggle #toggleBtn checked>Toggle</mat-button-toggle>
    {{toggleBtn.checked}}
</div>

<div>
    <mat-button-toggle-group #toggleGroup="matButtonToggleGroup">
        <mat-button-toggle value="angular">Angular</mat-button-toggle>
        <mat-button-toggle value="react">React</mat-button-toggle>
        <mat-button-toggle value="vue">Vue</mat-button-toggle>
    </mat-button-toggle-group>
    {{toggleGroup.value}}
</div>

<div>
    <mat-icon>login</mat-icon>
    <mat-icon>logout</mat-icon>
</div>

<!-- MatDialog -->
<div>
    <button mat-raised-button (click)="openDialog()">Open Dialog</button>
</div>

<!-- MatTable -->
<mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <!-- Position Column -->
    <ng-container matColumnDef="position">
      <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.position}} </mat-cell>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
    </ng-container>
  
    <!-- Weight Column -->
    <ng-container matColumnDef="weight">
      <mat-header-cell *matHeaderCellDef> Weight </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.weight}} </mat-cell>
    </ng-container>
  
    <!-- Symbol Column -->
    <ng-container matColumnDef="symbol">
      <mat-header-cell *matHeaderCellDef> Symbol </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.symbol}} </mat-cell>
    </ng-container>
    
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns:displayedColumns"></mat-row>
  </mat-table>

<!-- badges -->
<div class="badges">
  <span matBadge="5" matBadgeOverlap="false" matBadgePosition='above after'>შეტყობინება</span>
</div>

<div class="badges">
  <span [matBadge]="notifications" matBadgeOverlap="true" matBadgeColor="warn">შეტყობინება</span>
</div>