table {
    width: 100%;
  }
mat-table {
  margin: 25px 0px;
}
div.badges {
  margin: 15px;
}
.navbar {
  justify-content: space-between;
  margin-bottom: 10px;
}
.navbar span {
  padding-right: 10px;
}